body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 36px;
	color: #070029;
}
h3 {
	font-size: 20px;
	font-weight: 600;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #608dfd;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #608dfd;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
/* Navigation */
#menu {
	padding: 15px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
    width: 100%;
}
#menu a.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #0C0049;
	text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #0C0049;
	font-size: 15px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	background: linear-gradient(to right, #E3B24B 0%, #E3B24B 100%);
	content: "";
	transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background: linear-gradient(to right, #E3B24B 0%, #E3B24B 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #608dfd;
}
.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #E3B24B 0%, #E3B24B 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
.section-title p {
	font-size: 18px;
}
.btn-custom {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #E3B24B;
	background-color: #070029;
	background-image: linear-gradient(to right, #070029 0%, #070029 100%);
	padding: 14px 34px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 0.5s linear;
	border: 0;
}

.btn-custom-whasatp {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #070029;
	background-image: linear-gradient(to right, #070029 0%, #070029 100%);
	padding: 14px 34px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 0.5s linear;
	border: 0;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #070029;
    font-weight: bold;
	background-image: none;
    background: #FFFFFF;
    border: 1px solid #070029;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
.logo {
    width: 80px;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/intro-bg.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.2);
}
.intro h1 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro h1 span {
	font-weight: 800;
	color: #5ca9fb;
}
.intro p {
	color: #fff;
	font-size: 22px;
	font-weight: 350;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 20px;
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 150px;
	text-align: center;
}

/* Services Conciliation Section */
#services-conciliation {
	padding: 100px 0;
    margin-bottom: 0px;
}
#services-conciliation h4 {
	margin: 5px 0;
}
#services-conciliation .team-img {
	width: 400px;
}
#services-conciliation .thumbnail {
	background: transparent;
	border: 0;
}
#services-conciliation .thumbnail .caption {
	padding: 10px 0 0 0;
	color: #070029;
}

#services-conciliation .card{
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px, 1px, 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    margin: 12px;
}
#services-conciliation .card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);;
    transform: translateY(-3%);
}
#services-conciliation button{
    background:#070029;
    width: 120px;
    margin-top: 20px;
    padding: 10px;
    margin-top: 10px;
    color: #E3B24B;
    border: 1px solid #E3B24B;
    border-radius: 10px;
    transition: all 400ms ease;
}
#services-conciliation button:hover{
    background: #E3B24B;
    color: #070029; 
    font-weight: bold;
}

/* Services Virtual Section */
#services-virtual {
	padding: 100px 0;
    margin-bottom: 0px;
    border: none;
    background: #070029;
    box-sizing: border-box;
}
#services-virtual h4 {
	margin: 5px 0;
}
#services-virtual .team-img {
	width: 400px;
}
#services-virtual .thumbnail {
	background: transparent;
    border: none;
}
#services-virtual .thumbnail .caption {
	padding: 10px 0 0 0;
	color: #070029;
}
#services-virtual .title{
    color: #ffffff;
}
#services-virtual .sub-title{
    color: #E3B24B;
}
#services-virtual .paragraph{
    color: #ffffff;
}
#services-virtual .card{
    width: 350px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    /* box-shadow: 0px, 1px, 10px rgb(255, 255, 255); */
    cursor: default;
    transition: all 400ms ease;
    margin: 12px;
    background: #070029;
}
#services-virtual .card:hover{
    /* box-shadow: 5px 5px 20px rgb(255, 255, 255); */
    border: 3px solid #E3B24B;
    transform: translateY(-3%);
}
#services-virtual .btn-custom {
	margin: 30px 0;
	background: #070029;
	border: 2px solid #E3B24B;
}
#services-virtual .btn-custom:hover {
	color: #070029;
	background: #ffffff;
    border: 2px solid #070029;
    font-weight: bold;
}

/* Detail services virtual Section */
#detail-services-virtual {
	padding: 100px 0;
    background: #ffffff;
    color: #070029;
}
#detail-services-virtual h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#detail-services-virtual h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#detail-services-virtual h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #E3B24B 0%, #E3B24B 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}
#detail-services-virtual .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#detail-services-virtual .about-text li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: #070029;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}
#detail-services-virtual img {
	width: 520px;
	margin-top: 10px;
    margin-bottom: 50px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#detail-services-virtual p {
	line-height: 24px;
	margin: 30px 0;
    line-height: 1.5;
}
#detail-services-virtual .btn-custom {
    padding: auto;
	background: #070029;
	border: 2px solid #E3B24B;
    text-align: center;
}
#detail-services-virtual .btn-custom:hover {
	color: #070029;
	background: #E3B24B;
    border: 2px solid #070029;
    font-weight: bold;
}


/* We Section */
#we {
	padding: 100px 0;
    background: #E3B24B;
    color: #070029;
}
#we h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#we h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#we h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}
#we .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#we .about-text li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: #070029;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}
#we img {
	width: 520px;
	margin-top: 10px;
    margin-bottom: 50px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#we p {
	line-height: 24px;
	margin: 30px 0;
    line-height: 1.5;
}

/* Benefits Section */
#benefits {
	padding: 100px 0;
	background: #f6f6f6;
}
#benefits i.fa {
	font-size: 38px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #E3B24B;
	width: 100px;
	height: 100px;
	padding: 30px 0;
	border-radius: 50%;
	background: linear-gradient(to right, #070029 0%, #070029 100%);
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
#benefits h3{
    color: #070029;
}

/* Contact Section */
#contact {
	padding: 100px 0 60px 0;
	background: linear-gradient(to right, #070029 0%, #070029 100%);
	color: rgba(255,255,255,.75);
}
#contact .section-title {
	margin-bottom: 40px;
}
#contact .section-title p {
	font-size: 16px;
}
#contact h2 {
	color: #E3B24B;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
#contact .section-title h2::after {
	position: absolute;
	content: "";
	background: rgba(255,255,255,.3);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 30px;
}
#contact h3 {
	color: #E3B24B;
	margin-top: 0px;
	margin-bottom: 25px;
	padding-bottom: 20px;
	font-weight: 400;
}
#contact form {
	padding-top: 20px;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
#contact .btn-custom {
	margin: 30px 0;
	background: transparent;
	border: 2px solid #E3B24B;
}
#contact .btn-custom:hover {
	color: #1f386e;
	background: #fff;
    border: 2px solid #1f386e;
    font-weight: bold;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 20px 0;
}
#contact .contact-item span {
	color: rgba(255,255,255,1);
	margin-bottom: 10px;
	display: block;
}
#contact .contact-item i.fa {
	margin-right: 10px;
}
#contact .social {
	border-top: 1px solid rgba(255,255,255,0.15);
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 22px;
	width: 48px;
	height: 48px;
	padding: 12px 0;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50%;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #608dfd;
	background: #fff;
}
/* Footer Section*/
#footer {
	background: #f6f6f6;
	padding: 30px 0;
}
#footer p {
	color: #888;
	font-size: 14px;
}
#footer a {
	color: #608dfd;
}
#footer a:hover {
	border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
#about img {
	margin: 50px 0;
}
}

/* My Styles */

.contentainer-nav{
    margin-left: 0;
    margin-right: 0;
}

.my-border{
    border-color: "#000000";
    border-style: solid;
}
.my-center {
    display:flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center
}